.header{
    text-align: center;
}

.my-image {
    width: 200px;
    height: 150px;
    margin-bottom: 20px; /* adds space below each image */
}

  #myButton {
    background-color: red;  
    color: white;           
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     margin-top: 30px;
} 

#myButton:hover {
    background-color: darkred;
}
.myLink {
    margin-bottom: 20px; /* adds space to the bottom of the link */
}

.my-image {
    border: 4px solid orange;
    box-shadow: 0 0 10px orange;
    border-radius: 5px;
}